<!DOCTYPE html>
<html lang="en">
<head>
  {% block html__head %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../css/main.min.css" type="text/css">
  {% endblock %}
</head>
<body>

{% block html__body %}
{% endblock %}

</body>
</html>