<div class="footer">
  <a class="footer__link" href="#">Impressum</a>
  <a class="footer__link" href="https://www.loom.de/">Zur LOOM web site</a>
  <div class="footer__wrapper">
    <a href="#"><img src="../img/email.svg"></a>
    <a href="#"><img src="../img/facebook.svg"></a>
    <a href="#"><img src="../img/like.svg"></a>
  </div>
</div>