{% extends '_html.twig'%}

{% block html__body %}

  <div id="page">
    <header id="header">
      {% include 'header.twig' %}
    </header>
    <section id="main">
      {% include 'content.twig' %}
    </section>
    <footer id="footer">
      {% include 'footer.twig' %}
    </footer>
  </div>

{% endblock %}
